*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 40px;
    margin-left: 100px;
}

.main input :focus{
    border-bottom-right-radius: 0;
    border-right: transparent;
    border-top-right-radius: 0;
}

.main input{
    padding: 10px 20px;
    background-color:lightblue;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
}

.main button{
    padding: 10px 20px;
    margin-left: -4px;
    
    background-color:lightcoral;
}

.task div{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: teal;
    width: 200px;
}

